[submodule "arachinda"]
	path = arachinda
	url = ./arachinda
[submodule "ft_otp"]
	path = ft_otp
	url = ./ft_otp
[submodule "ft_onion"]
	path = ft_onion
	url = ./ft_onion/
[submodule "reverseme"]
	path = reverseme
	url = ./reverseme
[submodule "Stockholm"]
	path = Stockholm
	url = ./Stockholm
