[submodule "arachinda"]
	path = arachinda
	url = "https://github.com/mfunyu/arachinda.git"
[submodule "ft_otp"]
	path = ft_otp
	url = "https://github.com/mfunyu/ft_otp.git"
[submodule "ft_onion"]
	path = ft_onion
	url = "https://github.com/mfunyu/ft_onion.git"
[submodule "reverseme"]
	path = reverseme
	url = "https://github.com/mfunyu/reverseme.git"
[submodule "Stockholm"]
	path = Stockholm
	url = "https://github.com/mfunyu/Stockholm.git"
[submodule "inquisitor"]
	path = inquisitor
	url = "https://github.com/mfunyu/inquisitor.git"
[submodule "vaccine"]
	path = vaccine
	url = "https://github.com/mfunyu/vaccine.git"
